.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.map-container {
  width: 400px;
  height: 400px;
}

body {
  background: #7d6cab;
  background: content-box radial-gradient(#e3cce6fc, #926995);
  min-height: 100vh;
  overflow-x: hidden;
}
