.background {
  background: linear-gradient(to right, #f1f1f1, #904e95);
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.carousel-container {
  max-height: 200rem;
  max-width: 500px;
}

.carousel {
  overflow: hidden;
}

li.dot {
  content: hidden;
}
.like-button {
  width: 150px;
  background-color: #904e95;
  color: #ffffff;
  border-radius: 10px;
}
.heart-eyes {
  color: red;
}
