.login {
  background: #a2d2ff;
  width: 1920px;
  height: 1080px;
  position: absolute;
  overflow: hidden;
}
.login2 {
  background: #ffffff;
  width: 2000px;
  height: 1080px;
  position: absolute;
  overflow: hidden;
}

.rectangle-2 {
  background: #a2d2ff;
  width: 500px;
  height: 1200px;
  position: absolute;
  left: 0px;
}

.rectangle-1 {
  border-radius: 40px;
  position: absolute;
  left: 145px;
  top: 0px;
  overflow: hidden;
  width: 1900px;
}

.sign-in {
  color: #000000;
  text-align: left;
  font: 400 45px/40px "Akshar", sans-serif;
  position: absolute;
  left: 775px;
  top: 231px;
  width: 145.5px;
  height: 56.25px;
}

.login-content {
  width: 386.25px;
  height: 260.9px;
  position: static;
}

.don-t-have-an-account-signup-here {
  text-align: left;
  font: 400 17.25px/40px "Inter", sans-serif;
  position: absolute;
  left: 800px;
  top: 475px;
  width: 289.19px;
  height: 26.35px;
}

.don-t-have-an-account-signup-here-span {
  color: #000000;
  font: 400 17.25px/40px "Inter", sans-serif;
}

.don-t-have-an-account-signup-here-span2 {
  color: #5b86e5;
  font: 400 17.25px/40px "Inter", sans-serif;
}
.input-name {
  width: 338.25px;
  height: 47.25px;
  position: static;
}
.username {
  color: #9d9d9d;
  text-align: left;
  font: 400 20.25px/40px "Inter", sans-serif;
  position: absolute;
  left: 775px;
  top: 362.25px;
  width: 338.25px;
  height: 47.25px;
  border-radius: 8px;
  border: none;
}
.input-name2 {
  width: 327px;
  height: 33.75px;
  position: static;
}
.password {
  color: #9d9d9d;
  text-align: left;
  font: 400 20.25px/40px "Inter", sans-serif;
  position: absolute;
  left: 775px;
  top: 425.25px;
  width: 338.25px;
  height: 47.25px;
  border-radius: 8px;
  border: none;
}

.rectangle-7 {
  background: #5b86e5;
  border-radius: 8px;
  width: 350px;
  height: 42.75px;
  position: absolute;
  left: 775px;
  top: 525px;
  color: #ffffff;
  text-align: center;
  font: 600 20.25px/40px "Inter", sans-serif;
  border: none;
}

.find-match-and-meet-halfway {
  text-align: left;
  font: 400 60px/90% "Akshar", sans-serif;
  position: absolute;
  left: 55.94px;
  top: 178.31px;
  width: 329.87px;
  height: 193.64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}

.find-match-and-meet-halfway-span {
  color: #ffffff;
  font: 600 67.5px/108.97% "Akshar", sans-serif;
}

.find-match-and-meet-halfway-span2 {
  color: #ffafcc;
  font: 600 67.5px/108.97% "Akshar", sans-serif;
}

.logo-1 {
  border-radius: 49px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 329.87px;
  height: 192.57px;
  position: absolute;
  left: 55.94px;
  top: 613.31px;
  border: none;
}
