.container{
    max-width: 10px;
    max-height: 10px;

}
.card-body{
    position: relative;
    max-width: 100px;
    max-height: 10px;
}
.card-img-top{
    max-width: 100px;
    max-height: 10px;
}
#root{
    max-width: 100px;
    max-height: 10px;
}
