.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.profile-column {
  flex-basis: 100%;
  text-align: center;
}

@media (min-width: 600px) {
  .profile-column {
    flex-basis: 33.33%;
  }
}
