.signup-page,
.signup-page * {
  box-sizing: border-box;
}

.signup-page {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.rectangle-2 {
  background: #a2d2ff;
  width: 1600px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.rectangle-1 {
  background: #fcfcfc;
  border-radius: 40px;
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 420px;
  top: 0px;
  overflow: hidden;
}

.already-have-an-account-login {
  text-align: left;
  font: 400 18.4px/32px "Inter", sans-serif;
  position: absolute;
  left: 875px;
  top: 575px;
  width: 335.2px;
}

.already-have-an-account-login-span {
  color: #000000;
  font: 400 18.4px/32px "Inter", sans-serif;
}

.already-have-an-account-login-span2 {
  color: #5b86e5;
  font: 400 18.4px/32px "Inter", sans-serif;
}

.create-an-account {
  color: #000000;
  text-align: center;
  font: 400 48px/32px "Akshar", sans-serif;
  position: absolute;
  left: 775px;
  top: 175px;
  width: 398.4px;
}

.input-name {
  width: 465.856px;
  height: 37.6px;
  position: static;
}

.full-name {
  color: #9d9d9d;
  text-align: left;
  font: 400 20px/32px "Inter", sans-serif;
  position: absolute;
  left: 775px;
  top: 300px;
  width: 465px;
  border: none;
}

.username {
  color: #9d9d9d;
  text-align: left;
  font: 400 20px/32px "Inter", sans-serif;
  position: absolute;
  left: 775px;
  top: 350px;
  width: 465px;
  border: none;
}

.city {
  color: #9d9d9d;
  text-align: left;
  font: 400 20px/32px "Inter", sans-serif;
  position: absolute;
  left: 920.368px;
  top: 689.6px;
  width: 465px;
  border: none;
  width: 465.856px;
  height: 37.6px;
  position: static;
}

.state {
  color: #9d9d9d;
  text-align: left;
  font: 400 20px/32px "Inter", sans-serif;
  position: absolute;
  left: 920.368px;
  top: 989.6px;
  width: 465px;
  border: none;
  width: 465.856px;
  height: 37.6px;
  position: static;
}
.password {
  color: #9d9d9d;
  text-align: left;
  font: 400 20px/32px "Inter", sans-serif;
  position: absolute;
  left: 775px;
  top: 400px;
  width: 465px;
  border: none;
}
.rectangle-7 {
  background: #5b86e5;
  border-radius: 8px;
  width: 465.856px;
  height: 48px;
  position: absolute;
  left: 775px;
  top: 615px;
  border: none;
  font: 600 20.25px/40px "Inter", sans-serif;
  color: white;
}

.rectangle-8 {
  border-radius: 8px;
  position: absolute;
  width: 465.856px;
  left: 775px;
  top: 450px;
  overflow: visible;
}
.rectangle-9 {
  border-radius: 8px;
  position: absolute;
  width: 465.856px;
  left: 775px;
  top: 500px;
  overflow: visible;
}
.mbti {
  color: #9d9d9d;
  text-align: center;
  font: 400 20px/32px "Inter", sans-serif;
  position: absolute;
  left: 775px;
  top: 550px;
  border: none;
  width: 465px;
}

.create-account {
  color: #ffffff;
  text-align: left;
  font: 600 20px/32px "Inter", sans-serif;
  position: absolute;
  left: 775px;
  top: 755.2px;
  width: 180.8px;
}
.find-match-and-meet-halfway {
  text-align: left;
  font: 400 60px/90% "Akshar", sans-serif;
  position: absolute;
  left: 55.94px;
  top: 178.31px;
  width: 329.87px;
  height: 193.64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}

.find-match-and-meet-halfway-span {
  color: #ffffff;
  font: 600 67.5px/108.97% "Akshar", sans-serif;
}

.find-match-and-meet-halfway-span2 {
  color: #ffafcc;
  font: 600 67.5px/108.97% "Akshar", sans-serif;
}

.logo-1 {
  border-radius: 49px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 329.87px;
  height: 192.57px;
  position: absolute;
  left: 55.94px;
  top: 613.31px;
  border: none;
}
