.background {
  background: transparent;
  height: 200%;
}
.carousel-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  max-height: auto;
  max-width: auto;
  margin-left: auto;
  background: transparent;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: inset 5px 5px 15px #6aafe6;
  height: auto;
}
.carousel {
  overflow: hidden;
}

li.dot {
  content: hidden;
}
.like-button {
  width: 150px;
  background-color: #904e95;
  color: #ffffff;
  border-radius: 10px;
}
.heart-eyes {
  color: red;
}

.card-bodyy {
  background: transparent;
}
