.login,
.login * {
  box-sizing: border-box;
}
.login {
  background: #5b86e5;
  width: 1900px;
  height: 1166px;
  position: relative;
  overflow: hidden;
  right: 300px;
}
.login2 {
  background: #ffffff;
  border-style: solid;
  border-color: #dbdbdb;
  border-width: 1px;
  width: 1900px;
  height: 1166px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.login-page {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #a2d2ff;
  width: 2000px;
  height: 1163.61px;
  position: relative;
  left: 0px;
  top: 2.39px;
}
.rectangle-1 {
  border-radius: 50px;
  position: absolute;
  left: 561.02px;
  top: -2px;
  overflow: visible;
}
.sign-in {
  color: #000000;
  text-align: left;
  font: 400 60px/40px "Akshar", sans-serif;
  position: absolute;
  left: 1057px;
  top: 309px;
  width: 194px;
  height: 75px;
}
.login-content {
  width: 515px;
  height: 347.53px;
  position: static;
}
.don-t-have-an-account-signup-here {
  text-align: left;
  font: 400 23px/40px "Inter", sans-serif;
  position: absolute;
  left: 995px;
  top: 795.4px;
  width: 385.59px;
  height: 35.13px;
}
.don-t-have-an-account-signup-here-span {
  color: #000000;
  font: 400 23px/40px "Inter", sans-serif;
}
.don-t-have-an-account-signup-here-span2 {
  color: #5b86e5;
  font: 400 23px/40px "Inter", sans-serif;
}
.input-name {
  width: 451px;
  height: 63px;
  position: static;
}
.email {
  color: #9d9d9d;
  text-align: left;
  font: 400 25px/40px "Inter", sans-serif;
  position: absolute;
  left: 975px;
  top: 483px;
  width: 451px;
  height: 63px;
  border-radius: 8px;
  border: none;
}
.input-name2 {
  width: 436px;
  height: 45px;
  position: static;
}
.password {
  color: #9d9d9d;
  text-align: left;
  font: 400 25px/40px "Inter", sans-serif;
  position: absolute;
  left: 975px;
  top: 567px;
  width: 451px;
  height: 63px;
  border-radius: 8px;
  border: none;
}
.rectangle-7 {
  background: #5b86e5;
  border-radius: 8px;
  width: 400px;
  height: 57px;
  position: absolute;
  left: 800px;
  top: 715px;
  color: #ffffff;
  text-align: center;
  font: 600 25px/40px "Inter", sans-serif;
  position: absolute;
  left: 975px;
  top: 726px;
  width: 400px;
  height: 46px;
  border: none;
}
.find-match-and-meet-halfway {
  text-align: left;
  font: 600 90px/108.97% "Akshar", sans-serif;
  position: absolute;
  left: 74.58px;
  top: 237.75px;
  width: 439.83px;
  height: 258.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.find-match-and-meet-halfway-span {
  color: #ffffff;
  font: 600 90px/108.97% "Akshar", sans-serif;
}
.find-match-and-meet-halfway-span2 {
  color: #ffafcc;
  font: 600 90px/108.97% "Akshar", sans-serif;
}
.logo-1 {
  border-radius: 49px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 439.83px;
  height: 256.43px;
  position: absolute;
  left: 74.58px;
  top: 684.75px;
  border: none;
}
